<section data-ng-init="init()" class="emp-search">
	<div>
		<label for="name">Name </label><input ng-model="employee.name" name="name" />
	</div>
	<div>
		<label for="title">Title </label><input ng-model="employee.title" name="name" />
	</div>
	<div>
		<label for="description">Description </label><input ng-model="employee.description"  name="description" />
	</div>
</section>		
<section class="employee-info" ng-repeat="emp in employees | filter:employee:strict">
	<div>{{emp.name}}, {{emp.title}}, {{emp.description}}, {{emp['years of experice']}}, {{emp['joining date']}}, <a data-ng-href="#!/employee/edit/{{$index}}">Edit</a>, <a href data-ng-click="remove($index)">Delete</a>
	</div>
</section>

