<section data-ng-init="edit()">
<h2>Edit Employee</h2>
<form name="editEmpForm" class="edit-employee" ng-submit="update(editEmpForm.$valid)" novalidate>
	<div>
		<label for="name">Name </label><input ng-model="employee.name" name="name" required />
		<br/>
		<div ng-show="editEmpForm.$submitted">
    			<div ng-show="editEmpForm.name.$error.required">Please enter employee name.</div>
		</div>
	</div>
	<div>

		<label for="title">Title </label><input ng-model="employee.title" name="title" required />
		<br/>
		<div ng-show="editEmpForm.$submitted">
    			<div ng-show="editEmpForm.title.$error.required">Please enter employee title.</div>
		</div>
	</div>
	<div>

		<label for="description">Description </label><input ng-model="employee.description" name="description" required />
		<br/>
		<div ng-show="editEmpForm.$submitted">
    			<div ng-show="editEmpForm.description.$error.required">Please enter employee description.</div>
		</div>
	</div>
	<div>

		<label for="joining_date">Joining date </label><input type="text" ng-model="employee['joining date']" name="joining_date" placeholder="dd-MM-yyyy" required date-validate />
		<br/>
		<div ng-show="editEmpForm.$submitted">
    			<div ng-show="editEmpForm.joining_date.$error.required || editEmpForm.joining_date.$error.dateValidate">Please enter employee joining date.</div>
		</div>

	</div>
	<div>
		<label for="years_of_experice">Years of experice </label><input ng-model="employee['years of experice']" name="years_of_experice" type="text" required number-validate />
		<br/>
		<div ng-show="editEmpForm.$submitted">
    			<div ng-show="editEmpForm.years_of_experice.$error.required || editEmpForm.years_of_experice.$error.numberValidate">Please enter employee years of experience.</div>
		</div>
	</div>
	<div>
		<input type="submit" value="Save" /><a href="#!/employee">Back</a>
	</div>
</form>
</section>
